body {
	margin: 0;
	font: 36px/1.2 'Times', serif;
}

a {
	color: #5035ff;
	transition: color 0.15s ease-in-out;
}

a:visited {
	color: #ab9ff8;
}

a:hover {
	color: #4facfb;
	transition: color 0s step-start;
}

.slide {
	box-sizing: border-box;
	padding: 50px;
	width: 100%;
}

.normal {
	min-height: 100vh;
}

.first {
	background: #f66;
}

.short {
	background: antiquewhite;
}

.long {
	background: blueviolet;
}

.last {
	background: darksalmon;
}

.card {
	margin: 0;
	padding: 50px;
	font-size: 36px;
	line-height: 1.2;
	background: #fff;
}

.menu {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 10;
	padding-right: 20px;
	display: flex;
	gap: 20px;
	list-style: none;
}

pre {
	border-radius: 5px;
	padding: 10px;
	white-space: normal;
	font-family: 'Menlo', monospace;
	list-style: none;
	background: #e6e6e6;
}

code {
	border-radius: 5px;
	padding: 0 10px;
	background: #e6e6e6;
}

pre code {
	display: list-item;
	padding: 0;
	white-space: pre-wrap;
	font: inherit;
}
